# Production Docker Compose configuration
#
# This file is intended to be used in a production environment.
# It disables public port exposure for databases and uses a more
# robust restart policy.
#
# Usage:
# docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d
#
services:
  superset:
    restart: always

  postgres:
    ports: []
    restart: always

  superset-db:
    ports: []
    restart: always
